.box-container {
    border: 3px solid white;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.one-box {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

h3 {
    margin-bottom: 20px;
}